.Ablieferung {
	FONT-SIZE: 10px;
	MARGIN: 0cm 0cm 0pt;
	COLOR: #666;
	LINE-HEIGHT: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-ALIGN: justify;
	font-weight: bolder;
}
A.BackLinkNavi:hover {
	COLOR: #213155; TEXT-DECORATION: none
}
A.BackLinkNavi:link {
	COLOR: #213155; TEXT-DECORATION: none
}
A.BackLinkNavi:visited {
	COLOR: #213155; TEXT-DECORATION: none
}
A.BackLinkNavi:active {
	COLOR: #213155; TEXT-DECORATION: none
}
A.Button:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.Button:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.Button:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.Button:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.MenuLink:link {
	COLOR: #213155; TEXT-DECORATION: none
}
A.MenuLink:visited {
	COLOR: #213155; TEXT-DECORATION: none
}
A.MenuLink:active {
	COLOR: #213155; TEXT-DECORATION: none
}
A.MenuLink:hover {
	COLOR: #213155; TEXT-DECORATION: none
}
.Baunummer {
	FONT: bolder oblique 12px Arial,Helvetica,sans-serif; COLOR: #004984; TEXT-DECORATION: none
}
.bgroz {
	BACKGROUND-COLOR: #F0C
}
.bgdarkblue {
	BACKGROUND-COLOR: #004984
}
.bigbold {
	COLOR: #666;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
}
bold {
	FONT: bold 12px Arial,Helvetica,sans-serif; COLOR: #004984; TEXT-DECORATION: none
}
.BildTxT {
	FONT: 10px Arial,Helvetica,sans-serif; COLOR: #004984; TEXT-DECORATION: none
}
BODY {
	BACKGROUND-COLOR: #ffffff
	scrollbar-face-color: #000000;
	height:880px;
	position: relative;
}
BODY.POPUP {
	BACKGROUND-COLOR: #6e90c0
}
.buttonstyle {
	FONT: bold 12px Arial,Helvetica,sans-serif; WIDTH: 10em; COLOR: #213155
}
.buttonstyle_over {
	FONT: bold 12px Arial,Helvetica,sans-serif; WIDTH: 10em; COLOR: #004984
}
.clFold {
	FONT: 12px Arial,Helvetica,sans-serif; WIDTH: 510px; COLOR: #213155; POSITION: absolute; TEXT-DECORATION: none
}
.clFoldSub {
	LEFT: 15px; VISIBILITY: hidden; FONT: 12px Arial,Helvetica,sans-serif; WIDTH: 510px; COLOR: #213155; POSITION: absolute; TEXT-DECORATION: none
}
.clFoldSub2 {
	LEFT: 15px; VISIBILITY: hidden; FONT: 12px Arial,Helvetica,sans-serif; WIDTH: 510px; COLOR: #213155; POSITION: absolute; TEXT-DECORATION: none
}
.clFoldLinks {
	FONT: 12px Arial,Helvetica,sans-serif; COLOR: #213155; TEXT-DECORATION: none
}
.clSubLinks {
	FONT: 12px Arial,Helvetica,sans-serif; COLOR: #213155; TEXT-DECORATION: none
}
.clSubLinks2 {
	FONT: 12px Arial,Helvetica,sans-serif; COLOR: #213155; TEXT-DECORATION: none
}
.Footer_page {
	FONT-SIZE: 10px;
	MARGIN: 0cm 0cm 0pt;
	COLOR: #666;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-ALIGN: justify;
	font-weight: bolder;
	line-height: 12px;
}
.Footer_page_link_On {
	FONT-SIZE: 10px;
	MARGIN: 0cm 0cm 0pt;
	COLOR: #4D9D9D;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-ALIGN: justify;
	font-weight: bolder;
	text-decoration: none;
	line-height: 12px;
}
.Footer_page_link_Over {
	FONT-SIZE: 10px;
	MARGIN: 0cm 0cm 0pt;
	COLOR: #2D5B5B;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-ALIGN: justify;
	font-weight: bolder;
	text-decoration: none;
	line-height: 12px;
}
.inputstyle {
	FONT: 12px Arial,Helvetica,sans-serif; WIDTH: 14em; COLOR: #000000; border-size: thin
}
.inputstyle2 {
	FONT: 12px Arial,Helvetica,sans-serif; WIDTH: 20em; COLOR: #000000; border-size: thin
}
.inputstyle_tel {
	FONT: 12px Arial,Helvetica,sans-serif; WIDTH: 9em; COLOR: #000000; TEXT-DECORATION: none; border-size: thin
}
.inputstyle_plz {
	FONT: 12px Arial,Helvetica,sans-serif; WIDTH: 5em; COLOR: #000000; TEXT-DECORATION: none; border-size: thin
}
.Large_Text_On {
	COLOR: #2B5353;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: 30px;
	font-weight: bold;
	font-variant: normal;
}
.Large_Text_Over {
	COLOR: #4d9d9d;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: 30px;
	font-weight: bold;
	font-variant: normal;
}
.Level0 {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; LINE-HEIGHT: 18px; FONT-STYLE: normal; FONT-VARIANT: normal
}
.Level1 {
	FONT: bold 14px/18px Arial,Helvetica,sans-serif; COLOR: #213155; BACKGROUND-COLOR: #6e90c0; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.Level2 {
	FONT: 12px/18px Arial,Helvetica,sans-serif; COLOR: #213155; BACKGROUND-COLOR: #91b6e7; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.Level3 {
	FONT: 12px/18px Arial,Helvetica,sans-serif; COLOR: #213155; BACKGROUND-COLOR: #9ac5fe; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.Level4 {
	FONT: 12px/18px Arial,Helvetica,sans-serif; COLOR: #213155; BACKGROUND-COLOR: #95bef4; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.medbold {
	FONT: bold 14px Arial,Helvetica,sans-serif; COLOR: #213155; TEXT-DECORATION: none
}
.medbold_dark_red {
	color: #600;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.MenuTxTOff {
	COLOR: #FFF;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}
.MenuTxTOn {
	COLOR: #06F;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;

}
.MenuTxTOff-sitemap {
	FONT: 11px Arial, Helvetica, sans-serif; COLOR: #213155; TEXT-DECORATION: none
}
.MenuTxTOn-sitemap {
	COLOR: #499696;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}
.NaviTxT {
	FONT: 12px Arial,Helvetica,sans-serif; VERTICAL-ALIGN: top; COLOR: #213155; BACKGROUND-COLOR: #f5f5ff; TEXT-DECORATION: none
}
.NaviTxT1 {
	FONT: 12px Arial,Helvetica,sans-serif; VERTICAL-ALIGN:top; COLOR: #213155; TEXT-INDENT: 0.5em; BACKGROUND-COLOR: #f5f5ff; TEXT-DECORATION: none
}
.NaviTxTOn {
	FONT: bold 12px Arial,Helvetica,sans-serif; COLOR: #004984; BACKGROUND-COLOR: #f5f5ff; TEXT-DECORATION: none
}
.NaviHeadTxT {
	FONT: 12px Arial,Helvetica,sans-serif; COLOR: #ffffff; TEXT-INDENT: 0.5em; BACKGROUND-COLOR: #6e90c0; TEXT-DECORATION: none
}
.NaviHeadTxT1 {
	FONT: 12px Arial,Helvetica,sans-serif; COLOR: #ffffff; BACKGROUND-COLOR: #6e90c0; TEXT-DECORATION: none
}
.NaviHeadTxT-old {
	FONT: bold 14px Arial,Helvetica,sans-serif; COLOR: #213155; TEXT-INDENT: 0.5em; BACKGROUND-COLOR: #6e90c0; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.PopUpButton {
	FONT: 12px Arial,Helvetica,sans-serif; VERTICAL-ALIGN: middle; COLOR: #ffffff; BACKGROUND-COLOR: #6e90c0; TEXT-DECORATION: none
}
.PopUpTitel {
	FONT: bold 18px Arial,Helvetica,sans-serif; VERTICAL-ALIGN: middle; COLOR: #f5f5ff; BACKGROUND-COLOR: #6e90c0; TEXT-DECORATION: none
}
.Schiffsname {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN: 0cm 0cm 0pt; COLOR: #2b2f2d; LINE-HEIGHT: 14px; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.Schiffstext {
	FONT-SIZE: 10px;
	COLOR: #000;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	vertical-align: text-top;
}
UNKNOWN {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; VERTICAL-ALIGN: middle
}
.SmallFont {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.Techdaten {
	FONT-SIZE: 10px; MARGIN: 0cm 0cm 0pt; COLOR: #2b2f2d; LINE-HEIGHT: 12px; FONT-STYLE: italic; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: justify
}
.TechdatenSchmal {
	FONT-SIZE: 10px; MARGIN: 0cm 0cm 0pt; COLOR: #2b2f2d; LINE-HEIGHT: 12px; FONT-STYLE: italic; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: justify
}
.TxTArea {
	FONT: 12px Arial,Helvetica,sans-serif; WIDTH: 14em
}
.TxTBold {
	COLOR: #333;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.TxTDarkBlue12 {
	FONT: bold 12px Arial,Helvetica,sans-serif; COLOR: #213155; TEXT-DECORATION: none
}
.TxTNorm {
	COLOR: #333;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.MenuTxTOn2 {

	FONT: bold 12px Arial, Helvetica, sans-serif; COLOR: #333399; TEXT-DECORATION: none
}
.bgblueLight {

	BACKGROUND-COLOR: #6e90c0
}
.NaviTxT2 {
	color: #213155;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	background-color: #CCFFCC;

}
.bigboldgreen {
	FONT: bold 18px Arial,Helvetica,sans-serif;
	COLOR: #004984;
	TEXT-DECORATION: none;
	background-color: #CCFFCC;

}
.MenuTxTOver {
	COLOR: #FFF;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.MenuTxTLogIn {
	FONT: bold 12px Arial, Helvetica, sans-serif;
	COLOR: #CCCCCC;
	TEXT-DECORATION: none;
	background-color: #004984;

}
.MenuTxT2Title {

	FONT: bold 16px Arial, Helvetica, sans-serif;
	COLOR: #CCCCCC;
	TEXT-DECORATION: none;
	background-color: #004984;
}
.NaviTxT5 {

	FONT: 10px Arial, Helvetica, sans-serif; VERTICAL-ALIGN: top; COLOR: #213155; TEXT-DECORATION: none
}
.TxTNormDbsp {
	COLOR: #333;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
}
.BaunummerCopy {

	FONT: bolder normal 16px/30px Arial, Helvetica, sans-serif; COLOR: #004984; TEXT-DECORATION: none
}
.TXTNormDbsp17 {
	COLOR: #333;
	TEXT-DECORATION: none;
	list-style-position: outside;
	list-style-image: url(../Images/common/bullet1.gif);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 17px;

}
.bggreen {

	BACKGROUND-COLOR: #00FF99
}
.MenuTxTOffGreen {


	FONT: bold 12px Arial, Helvetica, sans-serif; COLOR: #009900; TEXT-DECORATION: none
}
.MenuTxTLogInGreen {

	FONT: bold 12px Arial, Helvetica, sans-serif;
	COLOR: #CCCCCC;
	TEXT-DECORATION: none;
	background-color: #006666;
}
.SubMenuTitle {
	COLOR: #CECECE;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 100;
}
.SubMenuSubTitleOn {
	COLOR: #666;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
}
.SubMenuSubTitleOff {
	COLOR: #999;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
}
.SubMenuSubTitleOver {
	COLOR: #Cecece;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
}
.bgGrey {
	BACKGROUND-COLOR: #666
}
.overlay{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 1000px;
	background-color: #000;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
	}
.SubMenuSubTitle-Over {
	COLOR: #5c8b8b;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
}

.SubMenuTitleOver {
	COLOR: #666;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
}
.SubMenuTitleOn {
	COLOR: #666;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
}
.medbold_gray {
	color: #999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
.medbold_black {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
.bigbold_black {
	COLOR: #000;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
}
.overlay{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 1000px;
	background-color: #000000;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}
.MenuTxTOff-sitemap_main {
	COLOR: #666;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}
.MenuTxTOn-sitemap_main {
	COLOR: #499696;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}
.MenuTxTOff-sitemap_sub {
	COLOR: #213155;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
.MenuTxTOn-sitemap_sub {
	COLOR: #499696;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}
.TxT_link_On {
	COLOR: #213155;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}
.TxT_link_Over {
	COLOR: #4d9d9d;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}
.Links_Page_Section_Title {
	COLOR: #666;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
}
.Links_Page_Links {
	COLOR: #525252;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
}
.BaunummerDbleSpace {
	COLOR: #004984;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: oblique;
	line-height: 20px;
	font-weight: bolder;
}
.TxTNormDbspComicSansMS {
	COLOR: #333;
	TEXT-DECORATION: none;
	font-family: "Comic Sans MS", cursive;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.5px;
}
.TxTNormDbspComicSansMSBold {
	COLOR: #333;
	TEXT-DECORATION: none;
	font-family: "Comic Sans MS", cursive;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	letter-spacing: 0.5px;
}
.MenuTxTLogInGreen_Over {
	COLOR: #FFF;
	TEXT-DECORATION: none;
	background-color: #356a6a;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.MenuTxTLogInGreen_On {
	COLOR: #300;
	TEXT-DECORATION: none;
	background-color: #438787;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.SubMenuSubTitleRed {
	COLOR: #900;
	TEXT-DECORATION: underline overline blink;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
}
.TxTNormDbspBold {
	COLOR: #666;
	TEXT-DECORATION: none;
	list-style-position: outside;
	list-style-image: url(../Images/common/bullet1.gif);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
}
.TxTNormDbspBoldBlack {
	COLOR: #000;
	TEXT-DECORATION: none;
	list-style-position: outside;
	list-style-image: url(../Images/common/bullet1.gif);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
}

.MenuTxTOn1 {
	COLOR: #9cccf3;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.MenuTxTOver1 {
	COLOR: #9cccf3;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.MenuTxTOver2 {
	COLOR: #ffcfb9;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.MenuTxTOver3 {
	COLOR: #dae2c0;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.MenuTxTOver4 {
	COLOR: #a3d1d1;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.MenuTxTOver5 {
	COLOR: #ffcee7;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.MenuTxTOver6 {
	COLOR: #fee9cd;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.MenuTxTOver7 {
	COLOR: #D5FFEA;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.TextTitleOn {
	COLOR: #666;
	TEXT-DECORATION: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
}
